@font-face {
   font-family: "Avenir Next Regular";
   src: url("fonts/Avenir Next Regular.woff") format("woff"), url("fonts/Avenir Next Regular.eot") format("embedded-opentype"), url("fonts/Avenir Next Regular.ttf") format("truetype"), url("fonts/Avenir Next Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}