@import url('./fonts.css');
body {
    font-family: 'Avenir Next';
}
.floating {
    position: fixed;
    bottom: 54px;
    right: 32px;
    z-index: 999999;
    width: 36px;
    height: 46px;
}
#disclaimer {
    position: fixed;
    bottom: 20px;
    left: 32px;
    z-index: 999999;
    width: 40%;
    height: 46px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 10px;
}
#disclaimer .col-1 {
    width: 130px;
    flex-shrink: 0;
}
#disclaimer .col-1 img {
    width: 100%;
}
@media screen and (min-width: 1024px) {
    .floating {
        position: fixed;
        bottom: 54px;
        right: 110px;
        z-index: 999999;
        width: 56px;
        height: 66px;
    }
}
.floating > img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 768px) {
    #disclaimer {
        display: block;
        width: 65%;
        height: auto;
        font-size: 8px;
        bottom: 36px;
    }
    #disclaimer .col-2 {
        width: 100%;
    }
}